# Environments
.env
.env.local
.venv
venv/
ENV/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/

# Node
node_modules/
dist/
dist-ssr/
*.local

# Editor directories and files
.idea/
.vscode/
.DS_Store
